$color_panel:#e0e5ec;
$color_search:#DFE4EA;
$color_title:#21265D;
$color_scroll:#63A1CB;
$scroll_bg:#F5F5F5;
$select_color:#f5f6f7;
$boxshadow:#f2f2f2;
$text-white:#e2e2e2;
$bg_ornage:#eb7b55;
::-webkit-scrollbar-track {
    background-color: $scroll_bg;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $scroll_bg;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color_scroll;
}


/* this targets the default scrollbar (compulsory) */

.e-img {
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    top: 0;
}

.marker-cluster {
    &-small {
        background-color: rgba(181, 226, 140, 0.6);
        div {
            background-color: rgba(110, 204, 57, 0.6);
        }
    }
    &-medium {
        background-color: rgba(241, 211, 87, 0.6);
        div {
            background-color: rgba(240, 194, 12, 0.6);
        }
    }
    &-large {
        background-color: rgba(253, 156, 115, 0.6);
        div {
            background-color: rgba(241, 128, 23, 0.6);
        }
    }
}

.pop {
    .store_statue {
        display: flex;
        flex-direction: row;
    }
    h3 {
        margin: 1rem 0rem;
        padding-left: .7rem;
        border-left: .3rem solid $bg_ornage;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .detail {
        font-size: pxTorem(14px);
        i {
            margin-right: 5px;
            font-size: pxTorem(15px);
            color: #5669b6;
        }
        &.note {
            font-size: 12px;
            background-color: #ebe9e9;
            padding: 5px;
            border-radius: 3px;
        }
    }
    .time {
        color: #babdc0;
        font-size: 12px;
    }
    .container {
        background: #5669b6;
        position: relative;
        margin: .5rem;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        width: 8rem;
        line-height: 1.2;
        overflow: hidden;
        color: $white;
        p {
            margin: 0;
            font-size: pxTorem(14px);
            padding: 5px 0px;
            display: inline-block;
        }
    }
    /*color*/
    .bg--nice {
        background: #5376b5;
        color: $white;
    }
    .bg--danger {
        background-color: #ef5f5b;
        color: $white;
    }
    .bg--none {
        background: $text-white;
        color: #9c9c9c;
    }
}

.leaflet-popup-content p {
    margin: 1rem 0;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    span {
        line-height: 30px;
    }
}

.m-panel {
    height: 100vh;
    width: 380px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: $color_panel;
    transition: all.5s;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.menu-off {
    margin-left: -350px
}

.mask_list {
    display: flex;
    input {
        cursor: pointer;
        border-radius: pxTorem(8px);
        padding: 9px 10px;
        color: $dark;
        width: 44%;
        font-size: pxTorem(16px);
        font-weight: bold;
        text-align: center;
        margin-left: 32px;
        list-style: none;
        border: 1px solid #ccc;
        box-shadow: -4px -2px 4px 0px #f2f2f2, 4px 2px 6px 0px #DFE4EA;
        &.active,
        &:hover {
            color: $white;
            background: $bg_ornage;
            display: inline-block;
            position: relative;
            box-shadow: -4px -2px 4px 0px #f2f2f2, 4px 2px 6px 0px #DFE4EA;
            background: $bg_ornage;
            color: $white;
        }
    }
}

// mask_num
.m-panel-total {
    h3 {
        font-size: pxTorem(16px);
        margin-top: 15px;
        letter-spacing: .5px;
    }
}

// search
.e-search {
    padding: pxTorem(20px) pxTorem(24px) pxTorem(10px);
    background-color: $select_color;
    box-sizing: border-box;
    &-header {
        color: $white;
        text-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        padding: pxTorem(15px) pxTorem(24px) pxTorem(15px) pxTorem(24px);
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    select {
        width: 100%;
        padding: 10px 16px;
        font-size: 16px;
        border-radius: pxTorem(8px);
        appearance: none;
        margin-bottom: pxTorem(20px);
        background-image: linear-gradient(45deg, transparent 50%, #444 0), linear-gradient(135deg, #444 50%, transparent 0), linear-gradient(90deg, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) .5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        letter-spacing: 1px;
        box-shadow: -4px -2px 4px 0px $white, 4px 2px 6px 0px #DFE4EA;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 3px;
            box-shadow: 2px 2px 2px 0px #DFE4EA inset, -2px -2px 2px 0px #ffffff inset;
        }
    }
}

.e-search-body {
    background: #e0e5ec;
    position: relative;
    h3 {
        font-size: pxTorem(18px);
        font-weight: bold;
        line-height: pxTorem(16px);
        margin-bottom: pxTorem(12.8px);
        color: $color_title;
    }
    li {
        list-style: none;
        min-height: 170px;
        font-size: pxTorem(14px);
        color: #888;
        margin: pxTorem(12px) pxTorem(20px) pxTorem(15px);
        padding: pxTorem(14px) pxTorem(20px) pxTorem(15px);
        letter-spacing: pxTorem(2px);
        // white-space: nowrap;
        i {
            margin-right: pxTorem(3px);
            font-size: pxTorem(14px);
        }
        p {
            margin-bottom: pxTorem(10px);
        }
    }
    &-scroll {
        height: calc(100vh - 232px);
        overflow-y: scroll;
        padding: pxTorem(20px) pxTorem(24px) pxTorem(10px);
        // overflow-x: hidden;
        /* background: #fff; */
        // cursor: pointer;
    }
}


/*這是推拉按鈕*/

.e-button-toggle {
    text-decoration: none;
    background: #e5edf0;
    color: #413e3e;
    position: absolute;
    top: 2%;
    bottom: 0%;
    font-size: 1rem;
    height: 3rem;
    right: pxTorem(-61px);
    padding: pxTorem(5px);
    z-index: 9999;
    border-radius: pxTorem(5px);
    width: pxTorem(50px);
    height: pxTorem(50px);
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
}

.pharmacy-wrap {
    background: $color_panel;
    transition: all 0.3s ease-in-out;
    //dark
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    &:hover {
        background-color: $select_color;
        transform: translateY(-2px);
    }
}

.pharmacy-wrap {
    padding: pxTorem(14px) pxTorem(14px);
    box-shadow: 0px 5px 10px #f2f2f2;
    border-radius: pxTorem(16px);
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    border-radius: pxTorem(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: pxTorem(12px);
    p {
        margin-bottom: 5px;
    }
}

.pharmacy-name {
    padding: pxTorem(5px) 0;
}

.eumorphism {
    background-color: #fff;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.8);
}

.search-title {
    list-style: none;
    font-size: 14px;
    text-align: center;
    padding-bottom: pxTorem(6px);
}

// 按鈕
//mask number
.e-mask-wrap {
    display: flex;
    margin-top: pxTorem(12px);
    .mask {
        border-radius: 5px;
        margin-right: pxTorem(1px);
        width: 49%;
        border-radius: 0 pxTorem(5px)p xTorem(5px) 0;
        border: none;
        letter-spacing: 1px;
        outline: none;
        font-size: pxTorem(14px);
        padding: pxTorem(2px) pxTorem(3px);
        max-width: 55%;
        max-height: 48px;
        display: flex;
        &:first-child {
            border-radius: 5px 0 0 5px;
            margin-right: 1px;
        }
        p {
            line-height: 45px;
            font-size: 20px;
            margin-left: 7px;
        }
        &-img {
            @include circle;
            padding: 4px;
            width: 38%;
            background: #f2f2f2;
        }
    }
    .child-mask {
        color: $text-white;
    }
    .no-mask {
        background: $text-white;
        color: #9c9c9c;
    }
    /*color*/
    .bg--nice {
        background: #5376b5;
        color: $white;
    }
    .bg--danger {
        background-color: #ef5f5b;
        color: $white;
    }
    .bg--none {
        background: $text-white;
        color: #9c9c9c;
    }
}

// loader
.loader {
    font-family: "微軟正黑體", sans-serif;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 0;
    transform: translate(-50px, -50px);
    right: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    z-index: 9999;
    .loader-spin {
        width: pxTorem(60px);
        height: pxTorem(60px);
        border-radius: 50%;
        border: 7px solid rgba(255, 255, 255, 0.3);
        border-top: 7px solid #FC4B65;
        animation: spin 0.7s ease-out infinite;
        margin: 20px 30px;
    }
    .loader-txt {
        width: 100%;
        padding-left: 0.3em;
        text-align: center;
        font-weight: 600;
        color: #4A4A4A;
        font-size: 18px;
        font-size: 1.125rem;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.leaflet-top.leaflet-lef {
    display: none;
}

// colornote
.colorNote {
    font-family: "微軟正黑體", sans-serif;
    font-weight: 600;
    position: absolute;
    right: 10px;
    bottom: 27px;
    z-index: 999;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    font-size: .875rem;
    transition: all 0.2s;
    &>h3 {
        border-radius: 5px 5px 0 0;
        background-color: #5669b6;
        color: $white;
    }
    .Note__title {
        padding: .8em 1em;
        text-align: center;
        line-height: 18px;
        list-style: none;
        font-size: pxTorem(16px);
        li {
            font-size: pxTorem(14px);
        }
        img {
            display: inline-block;
            vertical-align: top;
            margin-right: pxTorem(4px);
            height: 18px;
            width: auto;
        }
        p {
            display: inline-block;
            font-size: pxTorem(14px);
        }
    }
    &>.colorNote__arrow {
        position: absolute;
        left: 0;
        top: -33px;
        right: 0;
        margin: 0 auto;
        padding-right: 1px;
        width: 2em;
        height: 1em;
        transition: all 0.2s;
        line-height: .8em;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
        font-size: 24px;
        font-size: 1.5rem;
        text-align: center;
        background-color: #fff;
        color: $color_title;
    }
    &_nice {
        color: $color_scroll;
    }
    &_danger {
        color: #ef5f5b;
    }
    &_black {
        color: $dark;
    }
}